<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head :: head(${area.areasName},'/css/spot_details.css')"></head>

<body>
<div th:replace="common/footer :: footer('','')"></div>
    <div class="mui-content exhibits-content">
      <div class="w">
        <div class="myaudio">
          <div class="myaudio-center">
            <audio id="aud">
              <source th:src="${area.areasAudio}" src='../img/bg.mp3' type='audio/ogg' width='300px'>
              <source th:src="${area.areasAudio}" src='../img/bg.mp3' type='audio/mpeg' width='300px'>
              <source th:src="${area.areasAudio}" src='../img/bg.mp3' type='audio/wav' width='300px'> 浏览器不支持此格式
            </audio>
            <div class="aud-btn">
              <img th:src="@{/img/spot/details/audio_play.png}" src="../img/spot/details/audio_play.png" id="play">
            </div>
            <div class="aud-show">
              <p th:text="${area.areasName}">棂星门</p>
              <div id="Progress-time">00:00</div>
              <div id="Progress">
                <span id="jin"></span><span id="yuan"></span>
              </div>
              <div id="Progress-end">00:00</div>
            </div>
          </div>
        </div>
        <div class="title">
          <img th:src="@{/img/spot/details/icon.png}" src="../img/spot/details/icon.png">
          <label th:text="${area.areasName}+'简介'">棂星门简介</label>
        </div>
        <div class="para" th:utext="${area.areasContent}">
          <p>“棂星”是天上的“文曲星”,棂星门比喻孔子是天上下凡星宿,在人间施行教化，象征着儒家学派人才济济,栋梁辈出。将棂星门置于文庙之前,表示以祭天的最高礼仪敬奉孔子。</p>
          <p>常熟文庙棂星门中轴线位于中轴线南端，戟门之前。勘探中发掘到了原有棂星门基础，同时有民国时期老照片作为依据，因此为原址原制修复。棂星门为《营造法式》中“乌头门”形制，两柱冲天石柱中夹两扇木门，三座门并立，中间连以红色宫墙。棂星门与两侧乡贤祠、名宦祠，及北侧戟门之间形成了一个院落,孔子“行教”像就矗立在院落之中。</p>
        </div>
      </div>
      <div class="exhibits">
        <div class="tag_main">景点展品</div>
        <div class="w">
          <div class="mui-card" th:each="exhibits : ${exhibitsInfoList}">
            <a th:href="@{'/exhibit/detail/'+${exhibits.exhibitsId}}" data-ajax="false">
              <div class="box uf">
                <div class="pic">
                  <img th:src="${exhibits.exhibitsIcon}" src="../img/spot/details/pic2.jpg" alt="">
                </div>
                <div class="dt uf-1">
                  <h3 th:text="${exhibits.exhibitsName}">棂星门</h3>
                  <p th:text="${exhibits.exhibitsDescription}">“棂星”是天上的“文曲星”,棂星门比喻孔子是天上下凡星宿,在人间施行教化，象征着儒家学派人才济济,栋梁辈出“棂星”是天上的“文曲星”,棂星门比喻孔子是天上下凡星宿,在人间施行教化，象征着儒家学派人才济济,栋梁辈出</p>
                </div>
              </div>
            </a>
          </div>
      </div>
    </div>
  </div>
  <script th:src="@{/js/spot_details.js}" src="../js/spot_details.js"></script>
  <script type="text/javascript" th:inline="javascript">
  /*<![CDATA[*/
  var basePath = /*[[@{/}]]*/;
  /*]]>*/
  //底部显示区域总宽度
  var footerW = $('.myaudio').width();
  //中央显示区域的宽度
  var audioW = $('.myaudio-center').width();
  //alert(footerW);
  //alert(audioW);
  $('.myaudio-center').css({ 'left': (footerW - audioW) / 2 })
  $('.aud-show').css({ 'width': audioW - 70 })
  $('#Progress').css({ 'width': audioW - 200 })

  var i = 0;
  $('#play').on('tap',function(){
    i++;
    if (i % 2 != 0) {
      $(this).attr('src', basePath+'img/spot/details/audio_pause.png');
      aud_play();
    } else {
      $(this).attr('src', basePath+'img/spot/details/audio_play.png');
      aud_pause()
    }
  });
 
  var music;
  var audio = document.getElementById("aud");

  function aud_play(q = 0) {
    audio.currentTime = q;
    audio.play();
    music = setInterval(function() {
      var curtime = audio.currentTime.toFixed(2); //播放进度
      var durtime = audio.duration.toFixed(2); //播放时间
      var str = "00:00";

      var time = formatSeconds(curtime);

      var time1 = str.substring(0, str.length - formatSeconds(durtime).length) + formatSeconds(durtime);

      $('#Progress-time').html(time);
      $('#Progress-end').html(time1);
      $width = curtime / durtime * (audioW - 181);
      $('#jin').css({ width: $width })
      $('#yuan').css({ left: $width })
    }, 100);
  }

  function aud_pause() {
    document.getElementById("aud").pause();
    clearInterval(music);
  }

  function formatSeconds(value) {
    var theTime = parseInt(value); // 秒
    var theTime1 = 0; // 分
    var theTime2 = 0; // 小时
    if (theTime > 60) {
      theTime1 = parseInt(theTime / 60);
      theTime = parseInt(theTime % 60);
      if (theTime1 > 60) {
        theTime2 = parseInt(theTime1 / 60);
        theTime1 = parseInt(theTime1 % 60);
      }
    }
    var result = "" + theTime;
    result = (result.length == 1) ? '0' + result : result;
    if (theTime1 > 0) {
      theTime1 = (theTime1.length == 1) ? '0' + theTime1 : theTime1;

      result = "" + theTime1 + ":" + result;
    }
    if (theTime2 > 0) {
      theTime2 = (theTime2.length == 1) ? '0' + theTime2 : theTime2;
      result = "" + theTime2 + ":" + result;
    }
    result = (result.length == 2) ? '00:' + result : result;
    return result;
  }

  var cont = $("#yuan");
  var contW = $("#yuan").width();
  var startX, sX, moveX, disX;
  var winW = $('#Progress').width();
  $("#yuan").on({ //绑定事件
    touchstart: function(e) {

      startX = e.originalEvent.targetTouches[0].pageX; //获取点击点的X坐标 
      sX = $(this).offset().left - 110; //相对于当前窗口X轴的偏移量
      leftX = startX - sX; //鼠标所能移动的最左端是当前鼠标距div左边距的位置
      rightX = winW - contW + leftX; //鼠标所能移动的最右端是当前窗口距离减去鼠标距div最右端位置
    },
    touchmove: function(e) {
      //aud_pause();
      e.preventDefault();
      moveX = e.originalEvent.targetTouches[0].pageX; //移动过程中X轴的坐标

      if (moveX < leftX) { moveX = leftX; }
      if (moveX > rightX) { moveX = rightX; }
      $(this).css({
        "left": moveX + sX - startX,
      });
      $('#jin').width($(this).width() + moveX + sX - startX);
      var w = audio.duration.toFixed(2) * ($('#jin').width() / winW)
      $('#play').attr('src', basePath+'img/spot/details/audio_pause.png');
      aud_play(w)
    },
    mousedown: function(ev) {
      aud_pause()
      var patch = parseInt($(this).css("height")) / 2;
      var left1 = parseInt($(this).parents('.myaudio-center').css("left"));


      $(this).mousemove(function(ev) {
        var oEvent = ev || event;
        // console.log(oEvent);
        var oX = oEvent.clientX;
        console.log(oX);
        var l = oX - patch - left1 - 115; //115为$("#yuan")的起始位置到$('.myaudio-center')左边的距离
        console.log(l);
        var w = $(window).width() - $(this).width();
        console.log(w);
        if (l < 0) {
          l = 0
        }
        if (l > w) {
          l = w
        }
        $(this).css({ left: l })
        $('#jin').width($(this).width() + l);
        var w = audio.duration.toFixed(2) * ($('#jin').width() / winW)
        $('#play').attr('src', basePath+'img/spot/details/audio_pause.png');
        aud_play(w)
      });
      $(this).mouseup(function() {
        $(this).unbind('mousemove');
      });
    }
  });
  </script>
</body>

</html>