img { max-width: 100%; }

video { display: block; width: 100%; height: 100%; }

.introduce .title img { max-width: 10px; top: -1px; }

.timeline { margin: 5px 20px; position: relative; padding-left: 23px; }
.timeline:before { content: ''; width: 2px; background-color: #930c0c; position: absolute; left: 0; top: 8px; bottom: 5px; }
.timeline li { position: relative; margin-bottom: 20px; }
.timeline li p { position: relative; font-size: 14px; color: #000; line-height: 1.8; }
.timeline li p:before { content: ''; width: 1px; position: absolute; left: -32px; top: 2px; display: inline-block; width: 22px; height: 22px; background: url(../img/spot/history/dian.png) 0 0 no-repeat; background-size: contain; }

.ancient-sages .mui-card { overflow: hidden; }
.ancient-sages .mui-card img { float: left; width: 40%; }
.ancient-sages .mui-card p { width: 55%; float: right; }

.keju .title img { position: relative; top: 3px; }
.keju .lidai a { display: inline-block; width: 1.56rem; margin: 0.3rem; }

.wenwu .mylist .box .pic { width: 30%; height: 85px; }
.wenwu .mylist .box .pic img { width: 100%; height: 100%; }

.keju_inner .title img { top: 5px; }
.keju_inner .main { margin: .5rem 0; }
.keju_inner .mui-card { padding: 20px 15px; }
.keju_inner .mui-card .box .pic { width: 35%; height: 150px; margin-right: 15px; border-radius: 5px; overflow: hidden; -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1); box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1); }
.keju_inner .mui-card .box .pic img { width: 100%; height: 100%; }
.keju_inner .mui-card .box .dt p { font-size: 14px; color: #303030; text-indent: 28px; margin-top: 15px; }

.zhengfu .title img { max-width: 10px; vertical-align: text-top; top: -2px; }
