<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head :: head('景点-文庙介绍','/css/spot.css')"></head>

<body>
<div th:replace="common/footer :: footer('1','0')"></div>
  <div class="mui-content introduce">
    <div class="video-box">
    	<video th:src="@{/img/movie.mp4}" src="../img/movie.mp4" controls="controls">
      your browser does not support the video tag
      </video>
    </div>
    <div class="w">
    	<div class="title">
    	  <img th:src="@{/img/spot/introduce/icon.png}" src="../img/spot/introduce/icon.png">
    	  <label>文庙介绍</label>
    	</div>
      <div class="para">
        <p>常熟文庙坐落于古城区东南学前街。这里是宋元明清四朝常熟教育文化中心，培育出了众多名相贤臣以及各个领域的专门人才，在常熟历史上占</p>
        <img th:src="@{/img/spot/introduce/pic1.jpg}" src="../img/spot/introduce/pic1.jpg">
      </div>
    </div>
  </div>
  
</body>

</html>