<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>景点-历史足迹</title>
  <link rel="stylesheet" href="../css/jquery.mobile-1.4.5.css">
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/spot.css">
  <script src="../js/libs/flexsible.js"></script>
  <script src="../js/libs/jquery.min.js"></script>
  <script src="../js/libs/jquery.mobile-1.4.5.min.js"></script>
  <script src="../js/common.js"></script>
</head>

<body>
  <div class="footer" id="footer">
    <a class="item home normal">
      <div class="pic"></div>
      <div class="text">首页</div>
    </a>
    <a class="item spot active" id="spot">
      <div class="pic"></div>
      <div class="text">景点</div>
    </a>
    <a class="item normal guide">
      <div class="pic">
        <img src="../img/icon/icon-guide.png" alt="导览">
      </div>
    </a>
    <a class="item activity normal">
      <div class="pic"></div>
      <div class="text">活动</div>
    </a>
    <a class="item my normal">
      <div class="pic"></div>
      <div class="text">我的</div>
    </a>
  </div>
  <div class="footer-mask"></div>
  <div id="spot-popover">
    <ul>
      <li>
        <a href="javascript:">文庙介绍</a>
      </li>
      <li>
        <a href="javascript:" class="active">历史足迹</a>
      </li>
      <li>
        <a href="javascript:">科举文化</a>
      </li>
      <li>
        <a href="javascript:">政府关怀</a>
      </li>
      <li>
        <a href="javascript:">南方夫子</a>
      </li>
      <li>
        <a href="javascript:">文物介绍</a>
      </li>
    </ul>
  </div>
  <div class="mui-content">
    <div class="w">
      <div class="title">
        <img src="../img/spot/history/icon.png">
        <label>历史足迹</label>
      </div>
      <div class="content">
        <ul class="timeline">
          <li>
            <p>文字北宋至和年间（1054-1056年）文庙建立，初建时有大成殿、明伦堂等建筑。1</p>
          </li>
          <li>
            <p>北宋至和年间（1054-1056年）文庙建立，初建时有大成殿、明伦堂等建筑。</p>
          </li>
          <li>
            <p>文字北宋至和年间（1054-1056年）文庙建立，初建时有大成殿、明伦堂等建筑。1</p>
          </li>
          <li>
            <p>文字北宋至和年间（1054-1056年）文庙建立，初建时有大成殿、明伦堂等建筑。1</p>
          </li>
        </ul>
      </div>
    </div>
    
  </div>
  
</body>

</html>