<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/head :: head('活动','/css/activity.css')"></head>
<body>
<div th:replace="/common/footer :: footer"></div>
  <div class="mui-content fuzi">
    <div class="video-box">
      <video th:src="@{/img/movie.mp4}" src="../img/movie.mp4" controls="controls">
      your browser does not support the video tag
      </video>
    </div>
    <div class="w">
      <div class="seprow"></div>
      <div class="para">
        <p>出生于吴地（常熟）的言偃，为孔子唯一之南方弟子，位列孔门十哲之一，是江南文化始祖，尊为“南方夫子”。自唐代后被历代朝廷追封为“吴公”、“吴国公”和“先贤言子”，在中国传统文化史上有重要地位。常熟文庙将言子作为仅次于孔子的祭祀对象，单独设祠，自成轴线，体现了常熟地方对邑人言子的极大尊崇，也是常熟文庙建筑的一大特色。</p>
      </div>
    </div>
    <div class="tag_main">功绩</div>
    <div class="w">
      <div class="para">
        <p>出生于吴地（常熟）的言偃，为孔子唯一之南方弟子，位列孔门十哲之一，是江南文化始祖，尊为“南方夫子”。自唐代后被历代朝廷追封为“吴公”、“吴国公”和“先贤言子”，在中国传统文化史上有重要地位。常熟文庙将言子作为仅次于孔子的祭祀对象，单独设祠，自成轴线，体现了常熟地方对邑人言子的极大尊崇，也是常熟文庙建筑的一大特色。</p>
        <p>出生于吴地（常熟）的言偃，为孔子唯一之南方弟子，位列孔门十哲之一，是江南文化始祖，尊为“南方夫子”。自唐代后被历代朝廷追封为“吴公”、“吴国公”和“先贤言子”，在中国传统文化史上有重要地位。常熟文庙将言子作为仅次于孔子的祭祀对象，单独设祠，自成轴线，体现了常熟地方对邑人言子的极大尊崇，也是常熟文庙建筑的一大特色。</p>
        <p>出生于吴地（常熟）的言偃，为孔子唯一之南方弟子，位列孔门十哲之一，是江南文化始祖，尊为“南方夫子”。自唐代后被历代朝廷追封为“吴公”、“吴国公”和“先贤言子”，在中国传统文化史上有重要地位。常熟文庙将言子作为仅次于孔子的祭祀对象，单独设祠，自成轴线，体现了常熟地方对邑人言子的极大尊崇，也是常熟文庙建筑的一大特色。</p>
      </div>
    </div>
  </div>
  
</body>

</html>