<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>景点-文物介绍</title>
  <link rel="stylesheet" href="../css/jquery.mobile-1.4.5.css">
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/spot.css">
  <script src="../js/libs/flexsible.js"></script>
  <script src="../js/libs/jquery.min.js"></script>
  <script src="../js/libs/jquery.mobile-1.4.5.min.js"></script>
  <script src="../js/common.js"></script>
</head>

<body>
  <div class="footer" id="footer">
    <a class="item home normal">
      <div class="pic"></div>
      <div class="text">首页</div>
    </a>
    <a class="item spot active" id="spot">
      <div class="pic"></div>
      <div class="text">景点</div>
    </a>
    <a class="item normal guide">
      <div class="pic">
        <img src="../img/icon/icon-guide.png" alt="导览">
      </div>
    </a>
    <a class="item activity normal">
      <div class="pic"></div>
      <div class="text">活动</div>
    </a>
    <a class="item my normal">
      <div class="pic"></div>
      <div class="text">我的</div>
    </a>
  </div>
  <div class="footer-mask"></div>
  <div id="spot-popover">
    <ul>
      <li>
        <a href="javascript:">文庙介绍</a>
      </li>
      <li>
        <a href="javascript:">历史足迹</a>
      </li>
      <li>
        <a href="javascript:">科举文化</a>
      </li>
      <li>
        <a href="javascript:">政府关怀</a>
      </li>
      <li>
        <a href="javascript:">南方夫子</a>
      </li>
      <li>
        <a href="javascript:" class="active">文物介绍</a>
      </li>
    </ul>
  </div>
  <div class="mui-content wenwu">
    <div class="w">
      <div class="title">
        <img src="../img/spot/wenwu/icon.png">
        <label>文物介绍</label>
      </div>
      <div class="para">
        <p>江苏常熟是国家历史文化名城，是春秋先贤言子的故里。言子是“孔门十哲”之一，他继承了孔子的儒学思想传统并加以传播和发展，“道启东</p>
      </div>
    </div>
    <div class="tag_main">文物分类</div>
    <div class="w">
      <div class="mui-card mylist">
        <div class="box uf">
          <div class="pic">
            <img src="../img/spot/wenwu/pic1.jpg">
          </div>
          <div class="dt uf-1">
            <h3>碑刻</h3>
            <p>碑刻，是言子故里——江南常熟的一个文化亮点。我国自古有刻石立碑之传统，碑刻是研究地方历史的珍贵史料，它铭之于石...</p>
          </div>
        </div>
      </div>
      <div class="mui-card mylist">
        <div class="box uf">
          <div class="pic">
            <img src="../img/spot/wenwu/pic1.jpg">
          </div>
          <div class="dt uf-1">
            <h3>碑刻</h3>
            <p>碑刻，是言子故里——江南常熟的一个文化亮点。我国自古有刻石立碑之传统，碑刻是研究地方历史的珍贵史料，它铭之于石...</p>
          </div>
        </div>
      </div>
      <div class="mui-card mylist">
        <div class="box uf">
          <div class="pic">
            <img src="../img/spot/wenwu/pic1.jpg">
          </div>
          <div class="dt uf-1">
            <h3>碑刻</h3>
            <p>碑刻，是言子故里——江南常熟的一个文化亮点。我国自古有刻石立碑之传统，碑刻是研究地方历史的珍贵史料，它铭之于石...</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="../js/spot_details.js"></script>
</body>

</html>