<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head :: head('封面','')"></head>

<body>
  <div class="cover-page">
    <div class="wenmiao">
      <img th:src="@{/img/cover/wenmiao.png}" src="../img/cover/wenmiao.png">
    </div>
    <div class="text">
      <a th:href="@{/index}" data-ajax="false">
      <img th:src="@{/img/cover/text.png}" src="../img/cover/text.png">
      </a>
    </div>
    <div class="copyright"><a target="_blank" href="http://www.miitbeian.gov.cn/">Copyright©常熟文庙管理办公室<br>苏ICP备18039415号-1  版权所有</a></div>
  </div>
</body>

</html>