<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>景点-南方夫子</title>
  <link rel="stylesheet" href="../css/jquery.mobile-1.4.5.css">
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/spot.css">
  <script src="../js/libs/flexsible.js"></script>
  <script src="../js/libs/jquery.min.js"></script>
  <script src="../js/libs/jquery.mobile-1.4.5.min.js"></script>
  <script src="../js/common.js"></script>
</head>

<body>
  <div class="footer" id="footer">
    <a class="item home normal">
      <div class="pic"></div>
      <div class="text">首页</div>
    </a>
    <a class="item spot active" id="spot">
      <div class="pic"></div>
      <div class="text">景点</div>
    </a>
    <a class="item normal guide">
      <div class="pic">
        <img src="../img/icon/icon-guide.png" alt="导览">
      </div>
    </a>
    <a class="item activity normal">
      <div class="pic"></div>
      <div class="text">活动</div>
    </a>
    <a class="item my normal">
      <div class="pic"></div>
      <div class="text">我的</div>
    </a>
  </div>
  <div class="footer-mask"></div>
  <div id="spot-popover">
    <ul>
      <li>
        <a href="javascript:">文庙介绍</a>
      </li>
      <li>
        <a href="javascript:">历史足迹</a>
      </li>
      <li>
        <a href="javascript:">科举文化</a>
      </li>
      <li>
        <a href="javascript:">政府关怀</a>
      </li>
      <li>
        <a href="javascript:" class="active">南方夫子</a>
      </li>
      <li>
        <a href="javascript:">文物介绍</a>
      </li>
    </ul>
  </div>
  <div class="mui-content fuzi">
    <div class="video-box">
      <video src="../img/movie.mp4" controls="controls">
      your browser does not support the video tag
      </video>
    </div>
    <div class="w">
      <div class="seprow"></div>
      <div class="para">
        <p>出生于吴地（常熟）的言偃，为孔子唯一之南方弟子，位列孔门十哲之一，是江南文化始祖，尊为“南方夫子”。自唐代后被历代朝廷追封为“吴公”、“吴国公”和“先贤言子”，在中国传统文化史上有重要地位。常熟文庙将言子作为仅次于孔子的祭祀对象，单独设祠，自成轴线，体现了常熟地方对邑人言子的极大尊崇，也是常熟文庙建筑的一大特色。</p>
      </div>
    </div>
    <div class="tag_main">功绩</div>
    <div class="w">
      <div class="para">
        <p>出生于吴地（常熟）的言偃，为孔子唯一之南方弟子，位列孔门十哲之一，是江南文化始祖，尊为“南方夫子”。自唐代后被历代朝廷追封为“吴公”、“吴国公”和“先贤言子”，在中国传统文化史上有重要地位。常熟文庙将言子作为仅次于孔子的祭祀对象，单独设祠，自成轴线，体现了常熟地方对邑人言子的极大尊崇，也是常熟文庙建筑的一大特色。</p>
        <p>出生于吴地（常熟）的言偃，为孔子唯一之南方弟子，位列孔门十哲之一，是江南文化始祖，尊为“南方夫子”。自唐代后被历代朝廷追封为“吴公”、“吴国公”和“先贤言子”，在中国传统文化史上有重要地位。常熟文庙将言子作为仅次于孔子的祭祀对象，单独设祠，自成轴线，体现了常熟地方对邑人言子的极大尊崇，也是常熟文庙建筑的一大特色。</p>
        <p>出生于吴地（常熟）的言偃，为孔子唯一之南方弟子，位列孔门十哲之一，是江南文化始祖，尊为“南方夫子”。自唐代后被历代朝廷追封为“吴公”、“吴国公”和“先贤言子”，在中国传统文化史上有重要地位。常熟文庙将言子作为仅次于孔子的祭祀对象，单独设祠，自成轴线，体现了常熟地方对邑人言子的极大尊崇，也是常熟文庙建筑的一大特色。</p>
      </div>
    </div>
  </div>
  
</body>

</html>