<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>景点-科举文化</title>
  <link rel="stylesheet" href="../css/jquery.mobile-1.4.5.css">
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/spot.css">
  <script src="../js/libs/flexsible.js"></script>
  <script src="../js/libs/jquery.min.js"></script>
  <script src="../js/libs/jquery.mobile-1.4.5.min.js"></script>
  <script src="../js/common.js"></script>
</head>

<body>
  <div class="footer" id="footer">
    <a class="item home normal">
      <div class="pic"></div>
      <div class="text">首页</div>
    </a>
    <a class="item spot active" id="spot">
      <div class="pic"></div>
      <div class="text">景点</div>
    </a>
    <a class="item normal guide">
      <div class="pic">
        <img src="../img/icon/icon-guide.png" alt="导览">
      </div>
    </a>
    <a class="item activity normal">
      <div class="pic"></div>
      <div class="text">活动</div>
    </a>
    <a class="item my normal">
      <div class="pic"></div>
      <div class="text">我的</div>
    </a>
  </div>
  <div class="footer-mask"></div>
  <div id="spot-popover">
    <ul>
      <li>
        <a href="javascript:">文庙介绍</a>
      </li>
      <li>
        <a href="javascript:">历史足迹</a>
      </li>
      <li>
        <a href="javascript:" class="active">科举文化</a>
      </li>
      <li>
        <a href="javascript:">政府关怀</a>
      </li>
      <li>
        <a href="javascript:">南方夫子</a>
      </li>
      <li>
        <a href="javascript:">文物介绍</a>
      </li>
    </ul>
  </div>
  <div class="mui-content keju keju_inner">
    <div class="w">
      <div class="title">
        <img src="../img/spot/keju/icon.png">
        <label>状元</label>
      </div>
      <div class="para">
        <p>状元是中国科举时代经过层层考试而最终成为殿试中选拔出的第一名，是当时读书人梦寐以求的最高理想和最高荣誉。历史上常熟共产生8位文武科状元，他们中间既有权掌要职的刚直文臣，也有驰骋疆场的威猛武将及才思飞扬的文人墨客。他们成为常熟宝贵的精神财富，激励人们攻坚克难、自强不息，挑战自我，勇于创新，追求卓越，敢于领先。</p>
      </div>
      <div class="main">
        <div class="mui-card">
          <div class="box uf">
            <div class="pic">
              <img src="../img/spot/keju/person.jpg">
            </div>
            <div class="dt uf-1">
              <p>陆器（生卒年不详） 字祖容，常熟人，居河阳山。唐开成五年（840）状元</p>
            </div>
          </div>
        </div>
        <div class="mui-card">
          <div class="box uf">
            <div class="pic">
              <img src="../img/spot/keju/person.jpg">
            </div>
            <div class="dt uf-1">
              <p>陆器（生卒年不详） 字祖容，常熟人，居河阳山。唐开成五年（840）状元</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    
  </script>
</body>

</html>