<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>景点-政府关怀</title>
  <link rel="stylesheet" href="../css/jquery.mobile-1.4.5.css">
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/spot.css">
  <script src="../js/libs/flexsible.js"></script>
  <script src="../js/libs/jquery.min.js"></script>
  <script src="../js/libs/jquery.mobile-1.4.5.min.js"></script>
  <script src="../js/common.js"></script>
</head>

<body>
  <div class="footer" id="footer">
    <a class="item home normal">
      <div class="pic"></div>
      <div class="text">首页</div>
    </a>
    <a class="item spot active" id="spot">
      <div class="pic"></div>
      <div class="text">景点</div>
    </a>
    <a class="item normal guide">
      <div class="pic">
        <img src="../img/icon/icon-guide.png" alt="导览">
      </div>
    </a>
    <a class="item activity normal">
      <div class="pic"></div>
      <div class="text">活动</div>
    </a>
    <a class="item my normal">
      <div class="pic"></div>
      <div class="text">我的</div>
    </a>
  </div>
  <div class="footer-mask"></div>
  <div id="spot-popover">
    <ul>
      <li>
        <a href="javascript:">文庙介绍</a>
      </li>
      <li>
        <a href="javascript:">历史足迹</a>
      </li>
      <li>
        <a href="javascript:">科举文化</a>
      </li>
      <li>
        <a href="javascript:" class="active">政府关怀</a>
      </li>
      <li>
        <a href="javascript:">南方夫子</a>
      </li>
      <li>
        <a href="javascript:">文物介绍</a>
      </li>
    </ul>
  </div>
  <div class="mui-content zhengfu">
    <div class="mainpic">
      <img src="../img/spot/zhengfu/main.jpg">
    </div>
    <div class="w">
      <div class="title">
        <img src="../img/spot/zhengfu/icon.png">
        <label>政府关怀</label>
      </div>
      <div class="para">
        <p>常熟作为国务院公布的第二批国家历史文化名城，历史文化遗产非常丰富，目前常熟全市共有各级文物保护单位170处，其中全国重点文物保</p>
        <img src="../img/spot/zhengfu/pic1.jpg">
        <p>常熟作为国务院公布的第二批国家历史文化名城，历史文化遗产非常丰富，目前常熟全市共有各级文物保护单位170处，其中全国重点文物保</p>
        <img src="../img/spot/zhengfu/pic1.jpg">
        <p class="tx-c">修缮前</p>
        <img src="../img/spot/zhengfu/pic1.jpg">
      </div>
    </div>
  </div>
  
</body>

</html>