<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>景点-科举文化</title>
  <link rel="stylesheet" href="../css/jquery.mobile-1.4.5.css">
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/spot.css">
  <script src="../js/libs/flexsible.js"></script>
  <script src="../js/libs/jquery.min.js"></script>
  <script src="../js/libs/jquery.mobile-1.4.5.min.js"></script>
  <script src="../js/common.js"></script>
</head>

<body>
  <div class="footer" id="footer">
    <a class="item home normal">
      <div class="pic"></div>
      <div class="text">首页</div>
    </a>
    <a class="item spot active" id="spot">
      <div class="pic"></div>
      <div class="text">景点</div>
    </a>
    <a class="item normal guide">
      <div class="pic">
        <img src="../img/icon/icon-guide.png" alt="导览">
      </div>
    </a>
    <a class="item activity normal">
      <div class="pic"></div>
      <div class="text">活动</div>
    </a>
    <a class="item my normal">
      <div class="pic"></div>
      <div class="text">我的</div>
    </a>
  </div>
  <div class="footer-mask"></div>
  <div id="spot-popover">
    <ul>
      <li>
        <a href="javascript:">文庙介绍</a>
      </li>
      <li>
        <a href="javascript:">历史足迹</a>
      </li>
      <li>
        <a href="javascript:" class="active">科举文化</a>
      </li>
      <li>
        <a href="javascript:">政府关怀</a>
      </li>
      <li>
        <a href="javascript:">南方夫子</a>
      </li>
      <li>
        <a href="javascript:">文物介绍</a>
      </li>
    </ul>
  </div>
  <div class="mui-content keju">
    <div class="w">
      <div class="title">
        <img src="../img/spot/keju/icon.png">
        <label>科举文化</label>
      </div>
      <div class="para">
        <p>科举制度是中国历史上考试选拔官员的一种基本制度。创始于隋朝，确立于唐朝，完备于宋朝，兴盛于明、清两朝，废除于清末，从隋朝大业元年（605）的进士科算起到光绪三十一年（1905）正式废除，整整存在了1300年。</p>
        <p>科举制度的产生是历史的必然和一大进步，尽管产生过种种流弊，但它秉着“自由报名、公开考试、平等竞争、择优取士”的原则，给广大士人通过其阶梯而登上仕途，提供了一个公平竞争的平台、机会和条件，为国家选拔了大量真才，促进了教育事业和文化艺术的进步。因此，科举制度被视为中国历史上乃至世界历史上最具开创性和平等性的官吏人才选拔制度，它对西方近代文官制度的形成也产生了重要影响。</p>
        <p>在漫长的1300年的科举考试中，共产生出700多名状元、十余万名进士、数百万名举人以及不计其数的秀才。隋唐以后，绝大多数士人与科举考试有着不解之缘。常熟作为崇文尚教之邦，人才辈出，先后产生了八位状元、486位进士、1000多位举人和数量众多的秀才。他们把应举视作为国家效力、实现人生抱负的重要途径。他们中间有治国安邦的名臣、名相，有贡献杰出的政治家、思想家、文学家、艺术家、科学家、外交家、军事家。他们的聪明才智在中国历史上留下了重彩浓墨的篇章。</p>
      </div>
    </div>
    <div class="tag_main">历代先贤</div>
    <div class="w lidai">
      <div class="uf uf-pc uf-ac">
        <a href="#">
          <img src="../img/spot/keju/icon-1.png" alt="状元">
        </a>
        <a href="#">
          <img src="../img/spot/keju/icon-1.png" alt="状元">
        </a>
        <a href="#">
          <img src="../img/spot/keju/icon-1.png" alt="状元">
        </a>
        <a href="#">
          <img src="../img/spot/keju/icon-1.png" alt="状元">
        </a>
      </div>
      <div class="uf uf-pc uf-ac">
        <a href="#">
          <img src="../img/spot/keju/icon-1.png" alt="状元">
        </a>
        <a href="#">
          <img src="../img/spot/keju/icon-1.png" alt="状元">
        </a>
        <a href="#">
          <img src="../img/spot/keju/icon-1.png" alt="状元">
        </a>
      </div>
    </div>
  </div>
</body>

</html>