<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>景点-文庙介绍</title>
  <link rel="stylesheet" href="../css/jquery.mobile-1.4.5.css">
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/spot.css">
  <script src="../js/libs/flexsible.js"></script>
  <script src="../js/libs/jquery.min.js"></script>
  <script src="../js/libs/jquery.mobile-1.4.5.min.js"></script>
  <script src="../js/common.js"></script>
</head>

<body>
  <div class="footer" id="footer">
    <a class="item home normal">
      <div class="pic"></div>
      <div class="text">首页</div>
    </a>
    <a class="item spot active" id="spot">
      <div class="pic"></div>
      <div class="text">景点</div>
    </a>
    <a class="item normal guide">
      <div class="pic">
        <img src="../img/icon/icon-guide.png" alt="导览">
      </div>
    </a>
    <a class="item activity normal">
      <div class="pic"></div>
      <div class="text">活动</div>
    </a>
    <a class="item my normal">
      <div class="pic"></div>
      <div class="text">我的</div>
    </a>
  </div>
  <div class="footer-mask"></div>
  <div id="spot-popover">
    <ul>
      <li>
        <a href="javascript:" class="active">文庙介绍</a>
      </li>
      <li>
        <a href="javascript:">历史足迹</a>
      </li>
      <li>
        <a href="javascript:">科举文化</a>
      </li>
      <li>
        <a href="javascript:">政府关怀</a>
      </li>
      <li>
        <a href="javascript:">南方夫子</a>
      </li>
      <li>
        <a href="javascript:">文物介绍</a>
      </li>
    </ul>
  </div>
  <div class="mui-content introduce">
    <div class="video-box">
    	<video src="../img/movie.mp4" controls="controls">
      your browser does not support the video tag
      </video>
    </div>
    <div class="w">
    	<div class="title">
    	  <img src="../img/spot/introduce/icon.png">
    	  <label>文庙介绍</label>
    	</div>
      <div class="para">
        <p>常熟文庙坐落于古城区东南学前街。这里是宋元明清四朝常熟教育文化中心，培育出了众多名相贤臣以及各个领域的专门人才，在常熟历史上占</p>
        <img src="../img/spot/introduce/pic1.jpg">
      </div>
    </div>
  </div>
  
</body>

</html>