<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>历史足迹列表</title>
		<meta name="Description" content="基于layUI数据表格操作"/>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link rel="stylesheet" th:href="@{/css/font.css}">
		<link rel="stylesheet" th:href="@{/css/weadmin.css}">
	</head>

	<body>
		<div class="weadmin-nav">
			<span class="layui-breadcrumb">
				<a href="">首页</a>
				<a href="">历史足迹管理</a>
				<a>
				  <cite>历史足迹列表</cite>
				</a>
			  </span>
			<a class="layui-btn layui-btn-sm" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
				<i class="layui-icon" style="line-height:30px">&#x1002;</i></a>
		</div>
		<div class="weadmin-body">
			<div class="weadmin-block demoTable">
				<button class="layui-btn" th:onclick="|javascript:WeAdminShow('添加历史足迹','@{/historyFootprints/add}',900,450)|"  ><i class="layui-icon">&#xe61f;</i>添加足迹</button>
				<!--<button class="layui-btn" id="orderByStartYear"><i class="layui-icon">&#xe625;</i>历史时间排序(默认)</button>-->
				<!--<button class="layui-btn" id="orderBySort"><i class="layui-icon">&#xe625;</i>序号排序</button>-->
			</div>

			<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
				<legend>文庙大事记</legend>
			</fieldset>
			<!--<i class="layui-icon layui-timeline-axis"></i>-->
			<ul class="layui-timeline" >
				<li class="layui-timeline-item" th:each="footprints : ${historyFootprintsList}" >

					<i class="layui-icon layui-timeline-axis"></i>
					<div class="layui-timeline-content layui-text">
                        <!--删除-->
						<div class="class1" >
							<button  id="deleteFootprints" class="layui-btn layui-btn-xs" th:onclick="|javascript:onDelete('${footprints.historyId}')|"><i class="layui-icon"></i>删除</button>
                        </div>
                        <!--向上移-->
                        <div class="class1" >
                            <button  id="up" class="layui-btn layui-btn-xs" th:onclick="|javascript:onUp('${footprints.historyId}')|"><i class="layui-icon">&#xe619;</i>向上移</button>
                        </div>
                        <!--向下移-->
                        <div class="class1" >
                            <button  id="down" class="layui-btn layui-btn-xs" th:onclick="|javascript:onDown('${footprints.historyId}')|"><i class="layui-icon">&#xe61a;</i>向下移</button>
                        </div>
                        <a>
                            <div class="layui-timeline-title" th:text="${footprints.historyContent}"  th:onclick="|javascript:WeAdminShow('修改历史足迹','/historyFootprints/add?historyId=${footprints.historyId}',900,450)|" >
                            </div>
                        </a>
					</div>

				</li>
			</ul>

			<script type="text/javascript" th:src="@{/layui/layui.js}"></script>

		</div>
	</body>
	<style>
		.class1{display:inline;}
		.layui-timeline-title{display:inline;}
	</style>
	<script th:inline="javascript">

        /*<![CDATA[*/
        var basePath = /*[[@{/}]]*/;
        /*]]>*/

        layui.extend({
            admin: basePath+'js/admin'
        });
        layui.use(['table', 'jquery','form', 'admin'], function() {
            var table = layui.table,
                $ = layui.jquery,
                form = layui.form,
                admin = layui.admin;


            // $(document).on('click','#orderBySort',function(){
            //     window.location.href = "http://localhost:8080/historyFootprints/index?orderBy=1";
            // });
            //
            // $(document).on('click','#orderByStartYear',function(){
            //     window.location.href = "http://localhost:8080/historyFootprints/index";
            // });

            //删除足迹
            window.onDelete = function(historyId) {
                layer.confirm('确认要删除吗？', {
                    btn : [ '确定', '取消' ]//按钮
                }, function(index) {
                    layer.close(index);
                    //此处请求后台程序，下方是成功后的前台处理……
                    var index = layer.load(0,{shade: [0.7, '#393D49']}, {shadeClose: true}); //0代表加载的风格，支持0-2
                    $.ajax({
                        url : basePath + 'historyFootprints/delete',
                        data : {
                            historyId : historyId,
                        },
                        type: "post",
                        dataType: "json",
                        success : function(data) {
                            layer.close(index);
                            if(data.code == 0){
                                layer.msg(data.msg);
                            }else {
                                layer.msg(data.msg);
                            }
                            window.location.reload();
                        },
                        error : function() {
                            layer.msg("系统繁忙!请重试");
                        }
                    });
                });
            };

            //向下移动足迹
            window.onDown = function(historyId) {
                    var index = layer.load(0,{shade: [0.7, '#393D49']}, {shadeClose: true});
                    $.ajax({
                        url : basePath + 'historyFootprints/onDown',
                        data : {
                            historyId : historyId
                        },
                        type: "post",
                        dataType: "json",
                        success : function(data) {
                            layer.close(index);
                            if(data.code == 0){
                                window.location.reload();
                            }else {
                                layer.msg(data.msg,{icon: 5,time : 1000,anim: 6});
                            }
                        },
                        error : function() {
                            layer.msg("系统繁忙!请重试");
                        }
                    });
            };

            //向上移动足迹
            window.onUp = function(historyId) {
                var index = layer.load(0,{shade: [0.7, '#393D49']}, {shadeClose: true});
                $.ajax({
                    url : basePath + 'historyFootprints/onUp',
                    data : {
                        historyId : historyId
                    },
                    type: "post",
                    dataType: "json",
                    success : function(data) {
                        layer.close(index);
                        if(data.code == 0){
                            window.location.reload();
                        }else {
                            layer.msg(data.msg,{icon: 5,time : 1000,anim: 6});
                        }

                    },
                    error : function() {
                        layer.msg("系统繁忙!请重试");
                    }
                });
            };


        });
	</script>
</html>