<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>展品内页</title>
  <link rel="stylesheet" href="../css/jquery.mobile-1.4.5.css">
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/spot_details.css">
  <script src="../js/libs/flexsible.js"></script>
  <script src="../js/libs/jquery.min.js"></script>
  <script src="../js/libs/jquery.mobile-1.4.5.min.js"></script>
  <script src="../js/common.js"></script>
</head>

<body>
  <div>
    <div class="footer" id="footer">
    <a class="item home normal">
      <div class="pic"></div>
      <div class="text">首页</div>
    </a>
    <a class="item spot active" id="spot">
      <div class="pic"></div>
      <div class="text">景点</div>
    </a>
    <a class="item normal guide">
      <div class="pic">
        <img src="../img/icon/icon-guide.png" alt="导览">
      </div>
    </a>
    <a class="item activity normal">
      <div class="pic"></div>
      <div class="text">活动</div>
    </a>
    <a class="item my normal">
      <div class="pic"></div>
      <div class="text">我的</div>
    </a>
  </div>
  <div class="footer-mask"></div>
  <div id="spot-popover">
    <ul>
      <li>
        <a href="javascript:" class="active">文庙介绍</a>
      </li>
      <li>
        <a href="javascript:">历史足迹</a>
      </li>
      <li>
        <a href="javascript:">科举文化</a>
      </li>
      <li>
        <a href="javascript:">政府关怀</a>
      </li>
      <li>
        <a href="javascript:">南方夫子</a>
      </li>
      <li>
        <a href="javascript:">文物介绍</a>
      </li>
    </ul>
  </div>
    <div class="mui-content exhibits-content zhanpin_inner">
      <div class="mainpic">
        <img src="../img/spot/zhanpin/poster.jpg">
      </div>
      <div class="w">
        <div class="title">
          <img src="../img/spot/zhanpin/icon_1.png">
          <label>棂星门简介</label>
        </div>
        <div class="para">
          <p>“棂星”是天上的“文曲星”,棂星门比喻孔子是天上下凡星宿,在人间施行教化，象征着儒家学派人才济济,栋梁辈出。将棂星门置于文庙之前,表示以祭天的最高礼仪敬奉孔子。</p>
          <img src="../img/spot/zhanpin/pic1.jpg">
          <p>常熟文庙棂星门中轴线位于中轴线南端，戟门之前。勘探中发掘到了原有棂星门基础，同时有民国时期老照片作为依据，因此为原址原制修复。棂星门为《营造法式》中“乌头门”形制，两柱冲天石柱中夹两扇木门，三座门并立，中间连以红色宫墙。棂星门与两侧乡贤祠、名宦祠，及北侧戟门之间形成了一个院落,孔子“行教”像就矗立在院落之中。</p>
        </div>
      </div>
    </div>
  </div>
</body>

</html>