<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="/common/head :: head('活动','/css/activity.css')"></head>

<body>
<div>
  <div class="footer" id="footer">
    <a class="item home normal">
      <div class="pic"></div>
      <div class="text">首页</div>
    </a>
    <a class="item spot" id="spot">
      <div class="pic"></div>
      <div class="text">景点</div>
    </a>
    <a class="item normal guide">
      <div class="pic">
        <img src="../img/icon/icon-guide.png" alt="导览">
      </div>
    </a>
    <a class="item activity normal active">
      <div class="pic"></div>
      <div class="text">活动</div>
    </a>
    <a class="item my normal">
      <div class="pic"></div>
      <div class="text">我的</div>
    </a>
  </div>
  <div class="footer-mask"></div>
  <div id="spot-popover">
    <ul>
      <li>
        <a href="javascript:" class="active">文庙介绍</a>
      </li>
      <li>
        <a href="javascript:">历史足迹</a>
      </li>
      <li>
        <a href="javascript:">科举文化</a>
      </li>
      <li>
        <a href="javascript:">政府关怀</a>
      </li>
      <li>
        <a href="javascript:">南方夫子</a>
      </li>
      <li>
        <a href="javascript:">文物介绍</a>
      </li>
    </ul>
  </div>
  <div class="mui-content activity_list">
    <div class="w">
      <div class="title">
        <img src="../img/activity/icon.png">
        <label>活动列表</label>
      </div>
      <div class="content">
        <div class="mui-card">
          <div class="box">
            <img src="../img/activity/main.jpg" class="bigmainpic">
            <div class="tt">
              <p>2018年“文化和自然遗产日”暨首届言子文化节启动仪式圆满成功</p>
              <div class="space">
                <img src="../img/activity/space.png">
              </div>
              <div class="num">
                <span class="state">已报名</span>
                <span>名额紧张</span>
                <span><em>2316</em>阅读</span>
                <span><em>1000</em>报名</span>
              </div>
            </div>
            <div class="tag_date">2018-6-9</div>
            <div class="bm_state">报<br>名<br>中</div>
          </div>
        </div>
        <div class="mui-card">
          <div class="box">
            <img src="../img/activity/main.jpg" class="bigmainpic">
            <div class="tt">
              <p>2018年“文化和自然遗产日”暨首届言子文化节启动仪式圆满成功</p>
              <div class="space">
                <img src="../img/activity/space.png">
              </div>
              <div class="num">
                <span><em>2316</em>阅读</span>
                <span><em>1000</em>报名</span>
              </div>
            </div>
            <div class="tag_date">2018-6-9</div>
            <div class="bm_state">报<br>名<br>中</div>
          </div>
        </div>
        <div class="mui-card over">
          <div class="box">
            <img src="../img/activity/main.jpg" class="bigmainpic">
            <div class="tt">
              <p>2018年“文化和自然遗产日”暨首届言子文化节启动仪式圆满成功</p>
              <div class="space">
                <img src="../img/activity/space.png">
              </div>
              <div class="num">
                <span><em>2316</em>阅读</span>
                <span><em>1000</em>报名</span>
              </div>
            </div>
            <div class="tag_date">2018-6-9</div>
            <div class="bm_state">已<br>结<br>束</div>
          </div>
        </div>
      </div>
    </div>
    <div class="tag_main">青少年活动</div>
    <div class="w">
      <div class="content">
        <div class="mui-card">
          <div class="box">
            <img src="../img/activity/main.jpg" class="bigmainpic">
            <div class="tt">
              <p>2018年“文化和自然遗产日”暨首届言子文化节启动仪式圆满成功</p>
              <div class="space">
                <img src="../img/activity/space.png">
              </div>
              <div class="num">
                <span class="state">已报名</span>
                <span>名额紧张</span>
                <span><em>2316</em>阅读</span>
                <span><em>1000</em>报名</span>
              </div>
            </div>
            <div class="tag_date">2018-6-9</div>
            <div class="bm_state">报<br>名<br>中</div>
          </div>
        </div>
        <div class="mui-card">
          <div class="box">
            <img src="../img/activity/main.jpg" class="bigmainpic">
            <div class="tt">
              <p>2018年“文化和自然遗产日”暨首届言子文化节启动仪式圆满成功</p>
              <div class="space">
                <img src="../img/activity/space.png">
              </div>
              <div class="num">
                <span><em>2316</em>阅读</span>
                <span><em>1000</em>报名</span>
              </div>
            </div>
            <div class="tag_date">2018-6-9</div>
            <div class="bm_state">报<br>名<br>中</div>
          </div>
        </div>
        <div class="mui-card over">
          <div class="box">
            <img src="../img/activity/main.jpg" class="bigmainpic">
            <div class="tt">
              <p>2018年“文化和自然遗产日”暨首届言子文化节启动仪式圆满成功</p>
              <div class="space">
                <img src="../img/activity/space.png">
              </div>
              <div class="num">
                <span><em>2316</em>阅读</span>
                <span><em>1000</em>报名</span>
              </div>
            </div>
            <div class="tag_date">2018-6-9</div>
            <div class="bm_state">已<br>结<br>束</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <script>
  </script>
</body>

</html>