<!DOCTYPE html>
<!--xmlns:th="http://www.w3.org/1999/xhtml" xmlns:position="http://www.w3.org/1999/xhtml"-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>景点</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all" />
	<link rel="stylesheet" th:href="@{/css/public.css}" media="all" />
</head>
<body class="childrenBody">
<form class="layui-form layui-row layui-col-space10">

	<div class="layui-col-md9 layui-col-xs12">
		<div class="layui-row layui-col-space10">
			<div class="layui-col-md9 layui-col-xs7">

				<div class="layui-form-item magt3">
					<div class="layui-hide">
						<input type="text" class="layui-input" id="areasId" th:value="${areas?.areasId}" value="">
						<input type="hidden" class="layui-input" id="createTime" th:value="${#temporals.format(areas?.createTime, 'yyyy-MM-dd HH:mm:ss')}" value=""  />
					</div>
					<label class="layui-form-label" style="color: #009f95;font-weight: bold">景点名称(*)</label>
					<div class="layui-input-block">
						<input type="text" class="layui-input" style="width: 235px" id="areasName" placeholder="请输入景点名称" th:value="${areas?.areasName}" value="" autocomplete="off">
					</div>

					<!--景点Logo-->
					<label class="layui-form-label" style="color: #009f95;font-weight: bold">景点Logo</label>
					<div class="layui-col-md3 layui-col-xs5" style="margin-top: 15px">
						<div class="layui-upload-list thumbBox mag0 magt3" >
							<img class="layui-upload-img thumbImg" id="areasLogo" th:src="${areas?.areasLogo}" src="">
						</div>
					</div>
				</div>

<!--景点地图-->
				<div class="layui-form-item" style="margin-top:15px;">
					<div class="layui-inline" >
						<label class="layui-form-label" style="color: #009f95;font-weight: bold">景点位置(*)</label>
						<div class="layui-input-inline" style="width: 375px;height: 607px">
							<input type="hidden" id="areasLeft"  autocomplete="off" class="layui-input" readonly="readonly" lay-verify="required" value="" th:value="${areas?.areasLeft}">
							<input type="hidden" id="areasTop" autocomplete="off" class="layui-input" readonly="readonly" lay-verify="required" value="" th:value="${areas?.areasTop}">
							<!--<p>拖放状态：<span>未开始</span></p>-->
							<div id="box">
								<div id="drag" style="position: absolute"></div>
							</div>
						</div>
					</div>
				</div>


	<!--视频上传-->
				<blockquote class="layui-elem-quote title magt10"><i class="layui-icon">&#xe609;</i> 视频上传</blockquote>
				<div class="layui-form-item">
					<label class="layui-form-label">导入方式</label>
					<div class="layui-input-block">
						<input type="radio" name="sex" value="0" lay-filter="videoFilter" title="本地导入" checked="">
						<input type="radio" name="sex" value="1" lay-filter="videoFilter" title="URL导入">
					</div>
				</div>

				<div class="layui-form-item" style="margin-top:15px;">
					<div class="layui-inline" >

						<label class="layui-form-label" style="color: #009f95;font-weight: bold">视频上传</label>
						<div class="layui-input-inline">
							<!--<button type="button" class="layui-btn" id="areasVideo" style="display: block"><i class="layui-icon"></i>上传视频</button>-->

							<div class="layui-row" style="width: 380px">
								<div class="layui-col-xs3">
									<button type="button" class="layui-btn layui-btn-normal" id="test8" style="display: block">选择文件</button>
									<span id="areasVideoName" style="color: #007DDB;font-weight: bold"></span>
								</div>
								<div class="layui-col-xs3">
									<button type="button" class="layui-btn" id="test9" style="display: block">开始上传</button>
								</div>
								<div class="layui-col-xs3">
									<button type="button" class="layui-btn" id="test10" style="display: block">删除</button>
								</div>
							</div>

						</div>

						<div class="layui-input-inline" >
							<input  style="width:380px; height:38px" type="text" class="layui-input" id="areasVideoURL" placeholder="请输入URL" th:value="${areas?.areasVideo}" value="" autocomplete="off">
							<!--<button type="button" class="layui-btn layui-btn-primary layui-btn-sm" id="urlBotton" style="background: #39dbd4">确定</button>-->
							<div class="layui-row" style="width: 230px">
								<div class="layui-col-xs3">
									<button type="button" class="layui-btn layui-btn-primary layui-btn-sm" id="urlBotton" style="background: #39dbd4">确定</button>
								</div>
								<div class="layui-col-xs3">
									<button type="button" class="layui-btn layui-btn-primary layui-btn-sm" id="urlDelete" style="background: #39dbd4">删除</button>
								</div>
							</div>
						</div>

					</div>
				</div>

				<div class="layui-form-item" style="margin-top:15px;">
					<div class="layui-inline" id="videoDivParent">
						<label class="layui-form-label" style="color: #009f95;font-weight: bold">预览</label>
						<div class="layui-input-inline" id="videoDiv">
							<video src="" th:src="${areas?.areasVideo}" id="areasVideoShow" controls="controls" style="margin-top:10px;width: 206px" ></video>
						</div>
					</div>
				</div>

		<!--音乐上传-->
				<blockquote class="layui-elem-quote title magt10"><i class="layui-icon">&#xe609;</i> 音频上传</blockquote>
				<div class="layui-form-item">
					<label class="layui-form-label">导入方式</label>
					<div class="layui-input-block">
						<input type="radio" name="audio" value="0" lay-filter="audioFilter" title="本地导入" checked="">
						<input type="radio" name="audio" value="1" lay-filter="audioFilter" title="URL导入">
					</div>
				</div>

				<div class="layui-form-item" style="margin-top:15px;">
					<div class="layui-inline" >

						<label class="layui-form-label" style="color: #009f95;font-weight: bold">音频上传</label>
						<div class="layui-input-inline">
							<!--<button type="button" class="layui-btn" id="areasVideo" style="display: block"><i class="layui-icon"></i>上传视频</button>-->

							<div class="layui-row" style="width: 380px">
								<div class="layui-col-xs3">
									<button type="button" class="layui-btn layui-btn-normal" id="selectMusic" style="display: block">选择文件</button>
									<span id="areasAudioName" style="color: #007DDB;font-weight: bold"></span>
								</div>
								<div class="layui-col-xs3">
									<button type="button" class="layui-btn" id="startUpload" style="display: block">开始上传</button>
								</div>
								<div class="layui-col-xs3">
									<button type="button" class="layui-btn" id="deleteMusic" style="display: block">删除</button>
								</div>
							</div>

						</div>

						<div class="layui-input-inline" >
							<input  style="width:380px; height:38px" type="text" class="layui-input" id="areasAudioURL" placeholder="请输入URL" th:value="${areas?.areasAudio}" value="" autocomplete="off">
							<!--<button type="button" class="layui-btn layui-btn-primary layui-btn-sm" id="urlBotton" style="background: #39dbd4">确定</button>-->
							<div class="layui-row" style="width: 230px">
								<div class="layui-col-xs3">
									<button type="button" class="layui-btn layui-btn-primary layui-btn-sm" id="urlMusicBotton" style="background: #39dbd4">确定</button>
								</div>
								<div class="layui-col-xs3">
									<button type="button" class="layui-btn layui-btn-primary layui-btn-sm" id="urlMusicDelete" style="background: #39dbd4">删除</button>
								</div>
							</div>
						</div>

					</div>
				</div>

				<div class="layui-form-item">
					<div class="layui-inline" >
						<label class="layui-form-label" style="color: #009f95;font-weight: bold">预览</label>
						<div class="layui-input-inline">
							<audio src="" th:src="${areas?.areasAudio}" id="areasAudioShow" controls="controls" style="margin-top:10px" ></audio>
						</div>
					</div>
				</div>

		</div>

			<!--景点说明-->
			<div class="layui-form-item magb0" >
				<label class="layui-form-label" style="color: #009f95;font-weight: bold">景点说明(*)</label>
				<div class="layui-input-block" id="areasContent">
					<p th:utext="${areas?.areasContent}" ></p>
				</div>
			</div>

			<!--最后发布-->
			<blockquote class="layui-elem-quote title magt10"><i class="layui-icon">&#xe609;</i> 发布</blockquote>
			<div class="border">
				<hr class="layui-bg-gray" />
				<div class="layui-right" style="text-align:center">
					<a class="layui-btn layui-btn-sm" lay-filter="add" lay-submit><i class="layui-icon">&#xe609;</i>发布</a>
					<a class="layui-btn layui-btn-primary layui-btn-sm" lay-filter="look" lay-submit>预览</a>
				</div>
			</div>
		</div>

	</div>

</form>

<script type="text/javascript" th:src="@{/layui/layui.js}"></script>
<script th:src="@{/js/wangEditor.js}"></script>

<style type="text/css">
	* {
		margin: 0px;
		padding: 0px;
	}

	body,html {
		position: relative;
		width: 100%;
		height: 100%;
	}

	/*p {*/
		/*position: absolute;*/
		/*left: 100px;*/
		/*top: 20px;*/
		/*user-select: none;*/
		/*position: absolute;*/
		/*left: 0;*/
		/*top: 0;*/
		/*z-index: 9999;*/
	/*}*/

	#box {
		width: 375px;
		height: 607px;
		background: url(/images/bg_3.jpg);
		background-size: 100% 100%;
		overflow: hidden;
		position: absolute;
		left: 0;
		top: 0;
	}

	#drag {
		width: 28px;
		height: 38px;
		background: url(/images/position.png);
		background-size: 100% 100%;
		position: absolute;
		right: 0;
		bottom: 0;
	}
</style>

<script type="text/javascript" th:inline="javascript">

    /*<![CDATA[*/
    var basePath = /*[[@{/}]]*/;
    /*]]>*/

    layui.use(['form','layer','layedit','laydate','upload'],function(){
        var form = layui.form
        layer = parent.layer === undefined ? layui.layer : top.layer,
            laypage = layui.laypage,
            upload = layui.upload,
            layedit = layui.layedit,
            laydate = layui.laydate,
            $ = layui.jquery;

	//设置视频上传按钮的隐藏与显示
        $("#urlBotton").hide();
        $("#areasVideoURL").hide();
        $("#urlDelete").hide();
        form.on('radio(videoFilter)', function(data){
            var parent = $("#articleParentId").val();
            if(data.value==0){
                $("#urlDelete").hide();
                $("#urlBotton").hide();
                $("#areasVideoURL").hide();
                $("#test8").show();
                $("#test9").show();
                $("#test10").show();

            }else if (data.value==1) {
                $("#test8").hide();
                $("#test9").hide();
                $("#test10").hide();
                $("#areasVideoURL").show();
                $("#urlBotton").show();
                $("#urlDelete").show();
            }
        });


        //设置音乐上传按钮的隐藏与显示
        $("#urlMusicBotton").hide();
        $("#areasAudioURL").hide();
        $("#urlMusicDelete").hide();
        form.on('radio(audioFilter)', function(data){

            if(data.value==0){
                $("#urlMusicDelete").hide();
                $("#urlMusicBotton").hide();
                $("#areasAudioURL").hide();
                $("#selectMusic").show();
                $("#startUpload").show();
                $("#deleteMusic").show();

            }else if (data.value==1) {
                $("#selectMusic").hide();
                $("#startUpload").hide();
                $("#deleteMusic").hide();
                $("#areasAudioURL").show();
                $("#urlMusicBotton").show();
                $("#urlMusicDelete").show();
            }
        });


        //通过url上传视频
        $(document).on('click','#urlBotton',function(){
            var areasVideoURL = $('#areasVideoURL').val();
			if(areasVideoURL.length == 0 ){
				layer.msg('地址不能为空！');
			}else{
                    $('#areasVideoShow').attr('src',areasVideoURL);
                	var hasVideo = !!(document.createElement('video').canPlayType);
			}
        });
        $(document).on('click','#urlDelete',function(){
            var areasVideoShow1 = $("#areasVideoShow").attr("src");
            $('#areasVideoShow').attr('src','');

            $.ajax({
                url : '/upload/del',
                data : {
                    fileUrl : areasVideoShow1
                },
                type: "post",
                dataType: "json",
                success : function(data) {
                    layer.close(index);
                    if(data.code == 0){
                        layer.msg(data.msg);
                    }else {
                        layer.msg(data.msg);
                    }
                    uploadListIns1.reload();
                },
                error : function() {
                    layer.msg("系统繁忙!请重试");
                }
            });
        });

        //通过url上传音乐
        $(document).on('click','#urlMusicBotton',function(){
            var areasAudioURL = $('#areasAudioURL').val();
            if(areasAudioURL.length == 0){
                layer.msg('地址不能为空！');
            }else{
                if(areasAudioURL.indexOf('.mp3') > 0 || areasAudioURL.indexOf('.wav') > 0){
                    $('#areasAudioShow').attr('src',areasAudioURL);
				}else {
                    layer.msg('无效的URL！');
				}

            }
        });
        $(document).on('click','#urlMusicDelete',function(){
            var areasAudioShow1 = $("#areasAudioShow").attr("src");
            $('#areasAudioShow').attr('src','');
            $.ajax({
                url : basePath + 'upload/del',
                data : {
                    fileUrl : areasAudioShow1
                },
                type: "post",
                dataType: "json",
                success : function(data) {
                    layer.close(index);
                    if(data.code == 0){
                        layer.msg(data.msg);
                    }else {
                        layer.msg(data.msg);
                    }
                    uploadListIns1.reload();
                },
                error : function() {
                    layer.msg("系统繁忙!请重试");
                }
            });

        });

        //上传缩略图
        upload.render({
            elem: '.thumbBox',
            url: basePath + 'upload/image',
            method : "post",
            before: function(obj){ //obj参数包含的信息，跟 choose回调完全一致，可参见上文。
            layer.msg('图片正在上传请稍后！');//上传loading
        	}
            ,done: function(res, index, upload){
                //var num = parseInt(4*Math.random());  //生成0-4的随机数，随机显示一个头像信息
                // var index = res.data.src.lastIndexOf('/');
                // var len = res.data.src.length;
                $('#areasImgName').text('图片上传成功');
                $('.thumbImg').attr('src',res.data.src);
                $('.thumbBox').css("background","#fff");
                layer.msg('照片上传成功！');
            }
            ,error: function(index, upload){
                layer.msg('上传失败请重新上传！');
            }
        });

        laydate.render({
            elem: '#createTime' //指定元素
            ,type: 'datetime'
            ,format: 'yyyy-MM-dd HH:mm:ss' //可任意组合
        });
        laydate.render({
            elem: '#endTime' //指定元素
            ,type: 'datetime'
            ,format: 'yyyy-MM-dd HH:mm:ss' //可任意组合
        });


        //选完视频文件后不自动上传
        var uploadListIns = upload.render({
            elem: '#test8'
            ,url: basePath + 'upload/image'
			,accept: 'video' //视频
            ,auto: false
            //,multiple: true
            ,bindAction: '#test9'
			,choose: function(obj){
                //将每次选择的文件追加到文件队列
                var files = obj.pushFile();

                //预读本地文件，如果是多文件，则会遍历。(不支持ie8/9)
                obj.preview(function(index, file, result){


                    layer.msg('文件正在上传请稍后！');//上传loading
                    $('#areasVideoShow').attr('src',result);
                    layer.msg('导入成功！');//上传loading
                    //obj.upload(index, file); //对上传失败的单个文件重新上传，一般在某个事件中使用
                    $(document).on('click','#test10',function(){
                        delete files[index]; //删除列表中对应的文件，一般在某个事件中使用
						$("#areasVideoShow").attr('src','');
						$("#areasVideoName").remove();
                        uploadListIns.config.elem.next()[0].value = ''; //清空 input file 值，以免删除后出现同名文件不可选

                    });

                });
            }
            ,done: function(res){
                var index = res.data.src.lastIndexOf('/');
                var len = res.data.src.length;
                $('#areasVideoName').text((res.data.src).substring(index+1,len)+'已上传');
                $('#areasVideoShow').attr('src',res.data.src);
                layer.msg('视频上传成功');
            }
            ,error: function(index, upload){
                layer.msg('上传失败请重新上传！');
            }
        });

//选完音乐文件后不自动上传
        var uploadListIns1 = upload.render({
            elem: '#selectMusic'
            ,url: basePath + 'upload/image'
            ,accept: 'audio' //视频
            ,auto: false
            //,multiple: true
            ,bindAction: '#startUpload'
            ,choose: function(obj){
                //将每次选择的文件追加到文件队列
                var files = obj.pushFile();

                //预读本地文件，如果是多文件，则会遍历。(不支持ie8/9)
                obj.preview(function(index, file, result){

                    layer.msg('文件正在上传请稍后！');//上传loading
                    $('#areasAudioShow').attr('src',result);
                    layer.msg('导入成功！');//上传loading
                    //obj.upload(index, file); //对上传失败的单个文件重新上传，一般在某个事件中使用
                    $(document).on('click','#deleteMusic',function(){
                        delete files[index]; //删除列表中对应的文件，一般在某个事件中使用
                        $("#areasAudioShow").attr('src','');
                        $("#areasAudioName").remove();
                        uploadListIns1.config.elem.next()[0].value = ''; //清空 input file 值，以免删除后出现同名文件不可选
                    });

                });
            }
            ,done: function(res){
                var index = res.data.src.lastIndexOf('/');
                var len = res.data.src.length;
                $('#areasAudioName').text((res.data.src).substring(index+1,len)+'已上传');
                $('#areasAudioShow').attr('src',res.data.src);
                layer.msg('音频上传成功');

            }
            ,error: function(index, upload){
                layer.msg('上传失败请重新上传！');
            }
        });


        // 表单提交
        form.on("submit(add)",function(data){
            var areasName1 = $("#areasName").val();
			var areasLeft1 = $("#areasLeft").val();
			var areasTop1 = $("#areasTop").val();
			var areasContent = editor.txt.html();

			//判断景点是否为空的
            var areasName2 = areasName1.replace(/(^\s*)|(\s*$)/g, '');
            if(areasName2 == '' || areasName2 == undefined || areasName2 == null){
                layer.alert('请填写景点名称', {
                    icon: 2,
                    skin: 'layer-ext-moon' //该皮肤由layer.seaning.com友情扩展。关于皮肤的扩展规则，去这里查阅
                })
                return false;
            };

            //判断地图位置是否为空的
            if(areasTop1 == "undefined" || areasLeft1 == "undefined"){
                layer.alert('请选择地图位置', {
                    icon: 2,
                    skin: 'layer-ext-moon' //该皮肤由layer.seaning.com友情扩展。关于皮肤的扩展规则，去这里查阅
                })
                return false;
            };

                $.ajax({
                url : basePath + 'areas/save',
                data : {
                    areasId : $("#areasId").val(),
                    areasName : $("#areasName").val(),
                    areasContent : areasContent,
					areasLogo : $("#areasLogo").attr("src"),
                    areasAudio : $("#areasAudioShow").attr("src"),
                    areasVideo : $("#areasVideoShow").attr("src"),
					areasLeft : $("#areasLeft").val(),
					areasTop : $("#areasTop").val(),
                    createTime : $("#createTime").val()
                }, header:{
                    'content-type': 'application/json'
                },
                type: "post",
                dataType: "json",
                success : function(data) {
                    if(data.code == 0){
                        //弹出loading
                        var index = top.layer.msg('数据提交中，请稍候',{icon: 16,time:false,shade:0.8});
                        setTimeout(function(){
                            top.layer.close(index);
                            top.layer.msg("景点添加成功！");
                            layer.closeAll("iframe");
                            //刷新父页面
                            parent.location.reload();
                        },1000);
                        return false;
                    }else {
                        layer.alert("添加失败!请重试");
                        return false;
                    }
                },
                error : function() {
                    layer.alert("系统繁忙!请重试");
                }
            });
            return false;
        })

        //预览
        form.on("submit(look)",function(){
            layer.alert("此功能需要前台展示，实际开发中传入对应的必要参数进行文章内容页面访问");
            return false;
        })
    })
    //创建一个编辑器
    var E = window.wangEditor
    var editor = new E('#areasContent')
    // 配置服务器端地址
    editor.customConfig.uploadImgServer = '/upload/wangEditor'
    editor.create()

</script>


</body>
<script>
    window.onload = function() {
        var obox = document.getElementById("box");
        var odrag = document.getElementById("drag");
        var oSpan = document.getElementsByTagName("span")[0];
        var isDrag = false;
        var x, y;
        var x1, y1;
        odrag.style.left = document.getElementById("areasLeft").value;
        odrag.style.top = document.getElementById("areasTop").value;

        odrag.onmousedown = down;
        document.onmousemove = move;
        document.onmouseup = up;

        function down(ev) {
            var ev = window.event || ev;
            x = ev.clientX - this.offsetLeft;
            y = ev.clientY - this.offsetTop;
            this.style.cursor = "move";
            isDrag = true;
        }

        function move(ev) {
            // oSpan.innerHTML = "left:" + odrag.style.left + ", top:" + odrag.style.top;
           // oSpan.innerHTML = "left:" + x1 + ", top:" + y1;
            document.getElementById("areasLeft").value=x1;
            document.getElementById("areasTop").value=y1;
            if (isDrag) {
                var ev = window.event || ev;
                odrag.style.left = (ev.clientX - x) + "px";
                odrag.style.top = (ev.clientY - y) + "px";
                x1 = ((ev.clientX - x)/obox.clientWidth*100).toFixed(2) + "%";
                y1 = ((ev.clientY - y)/obox.clientHeight*100).toFixed(2) + "%";
                if (parseInt(odrag.style.left) < 0) {
                    odrag.style.left = 0;
                    x1 = 0 + "%";
                }
                if (parseInt(odrag.style.top) < 0) {
                    odrag.style.top = 0;
                    y1 = 0 + "%";
                }
                if (parseInt(odrag.style.left) > obox.clientWidth - odrag.clientWidth) {
                    odrag.style.left = (obox.clientWidth - odrag.clientWidth) + "px";
                    x1 = (obox.clientWidth - odrag.clientWidth)/obox.clientWidth*100 + "%";
                }
                if (parseInt(odrag.style.top) > obox.clientHeight - odrag.clientHeight) {
                    odrag.style.top = (obox.clientHeight - odrag.clientHeight) + "px";
                    y1 = (obox.clientHeight - odrag.clientHeight)/obox.clientHeight*100 + "%"
                }
            }
        }

        function up() {
            isDrag = false;
            odrag.style.cursor = "pointer";
        }

    }
</script>
</html>