<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer">
<div class="footer" id="footer">
    <a th:href="@{/index}" data-ajax="false" href="index.html" class="item home normal active">
        <div class="pic"></div>
        <div class="text">首页</div>
    </a>
    <a class="item spot" id="spot">
        <div class="pic"></div>
        <div class="text">景点</div>
    </a>
    <a href="导览.html" class="item normal guide">
        <div class="pic">
            <img th:src="@{/img/icon/icon-guide.png}" src="../img/icon/icon-guide.png" alt="导览">
        </div>
    </a>
    <a th:href="@{/activity/item}" data-ajax="false" href="活动.html" class="item activity normal">
        <div class="pic"></div>
        <div class="text">活动</div>
    </a>
    <a href="我的.html" class="item my normal">
        <div class="pic"></div>
        <div class="text">我的</div>
    </a>
</div>
<div class="footer-mask"></div>
<div id="spot-popover">
    <ul>
        <li th:each="node : ${nodeList}">
            <a href="javascript:" th:text="${node.nodeName}">文庙介绍</a>
        </li>
    </ul>
</div>
</div>
</html>