<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head :: head('我的-活动','/css/my.css')"></head>

<body>
<div th:replace="common/footer :: footer"></div>
  <div class="mui-content my_activity_main">
    <div class="w">
      <div class="title">
        <img th:src="@{/img/my/icon.png}" src="../img/my/icon.png">
        <label>我的活动</label>
      </div>
      <div class="mui-card">
        <ul>
          <li th:each="activity : ${activityOrderList}">
            <span th:text="${activity.orderStatus}">2018年“文化和自然遗2018年“文化和自然遗</span>
            <em>已结束</em>
          </li>
          <li>
            <span>2018年“文化和自然遗2018年“文化和自然遗</span>
            <em>已参与</em>
          </li>
        </ul>
      </div>
    </div>
  </div>
    <script>
    </script>
</body>

</html>