<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head :: head('我的','/css/my.css')"></head>

<body>
<div th:replace="common/footer :: footer('4','')"></div>
  <div class="mymsg">
    <img th:src="${member.icon}" src="../img/my/userhead.jpg" class="pic">
    <div class="dt">
      <div class="name" th:text="${member.alias}">昵称</div>
      <div class="time">注册时间：<span th:text="${#temporals.format(member.createTime, 'yyyy-MM-dd')}">2018年7月7日</span></div>
    </div>
  </div>
  <div class="mui-content my_main">
    <div class="mui-card">
      <div data-role="collapsible" class="item">
        <h4><img th:src="@{/img/my/my_icon_1.png}" src="../img/my/my_icon_1.png">我的足迹<span class="arrow"></span></h4>
        <ul data-role="listview">
          <a href="#" th:each="history : ${historyList}" th:href="@{'/exhibit/detail/'+${history?.exhibit?.exhibitsId}}" data-ajax="false">
            <img th:src="${history.exhibit.exhibitsIcon}" src="../img/my/foot-1.jpg">
          </a>
        </ul>
      </div>
      <div class="item myactivity ui-collapsible ui-collapsible-inset ui-corner-all ui-collapsible-themed-content ui-collapsible-collapsed">
        <h4 class="ui-collapsible-heading ui-collapsible-heading-collapsed">
          <a th:href="@{/member/activity}" data-ajax="false" class="ui-collapsible-heading-toggle ui-btn ui-icon-plus ui-btn-icon-left ui-btn-inherit">
          <img th:src="@{/img/my/my_icon_2.png}" src="../img/my/my_icon_2.png">我的活动<span class="arrow"></span>
        </a>
        </h4>
      </div>
    </div>
  </div>
    <script>
    </script>
</body>

</html>