<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>我的</title>
  <link rel="stylesheet" href="../css/jquery.mobile-1.4.5.css">
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/my.css">
  <script src="../js/libs/flexsible.js"></script>
  <script src="../js/libs/jquery.min.js"></script>
  <script src="../js/libs/jquery.mobile-1.4.5.min.js"></script>
  <script src="../js/common.js"></script>
</head>

<body>
  <div class="footer" id="footer">
    <a class="item home normal">
      <div class="pic"></div>
      <div class="text">首页</div>
    </a>
    <a class="item spot" id="spot">
      <div class="pic"></div>
      <div class="text">景点</div>
    </a>
    <a class="item normal guide">
      <div class="pic">
        <img src="../img/icon/icon-guide.png" alt="导览">
      </div>
    </a>
    <a class="item activity normal">
      <div class="pic"></div>
      <div class="text">活动</div>
    </a>
    <a class="item my normal active">
      <div class="pic"></div>
      <div class="text">我的</div>
    </a>
  </div>
  <div class="footer-mask"></div>
  <div id="spot-popover">
    <ul>
      <li>
        <a href="javascript:">文庙介绍</a>
      </li>
      <li>
        <a href="javascript:">历史足迹</a>
      </li>
      <li>
        <a href="javascript:">科举文化</a>
      </li>
      <li>
        <a href="javascript:">政府关怀</a>
      </li>
      <li>
        <a href="javascript:">南方夫子</a>
      </li>
      <li>
        <a href="javascript:" class="active">文物介绍</a>
      </li>
    </ul>
  </div>
  <div class="mymsg">
    <img src="../img/my/userhead.jpg" class="pic">
    <div class="dt">
      <div class="name">昵称</div>
      <div class="time">注册时间：<span>2018年7月7日</span></div>
    </div>
  </div>
  <div class="mui-content my_main">
    <div class="mui-card">
      <div data-role="collapsible" class="item">
        <h4><img src="../img/my/my_icon_1.png">我的足迹<span class="arrow"></span></h4>
        <ul data-role="listview">
          <a href="#">
            <img src="../img/my/foot-1.jpg">
          </a>
          <a href="#">
            <img src="../img/my/foot-1.jpg">
          </a>
          <a href="#">
            <img src="../img/my/foot-1.jpg">
          </a>
          <a href="#">
            <img src="../img/my/foot-1.jpg">
          </a>
          <a href="#">
            <img src="../img/my/foot-1.jpg">
          </a>
          <a href="#">
            <img src="../img/my/foot-1.jpg">
          </a>
        </ul>
      </div>
      <div data-role="collapsible" class="item myactivity">
        <h4><img src="../img/my/my_icon_2.png">我的活动<span class="arrow"></span></h4>
      </div>
    </div>
  </div>
    <script>
    </script>
</body>

</html>