spring:
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    username: root
    password: KeYpZrZx
    url: jdbc:mysql://172.31.56.105/viewpoint?characterEncoding=utf-8&useSSL=false
    # HikariCP数据库连接池
    type: com.zaxxer.hikari.HikariDataSource
    hikari:
      minimum-idle: 5
      maximum-pool-size: 15
      auto-commit: true
      idle-timeout: 30000
      pool-name: DatebookHikariCP
      max-lifetime: 1800000
      connection-timeout: 30000
      connection-test-query: SELECT 1
  jpa:
    #show-sql: true
    open-in-view: false
  jackson:
    default-property-inclusion: non_null
    date-format: yyyy-MM-dd HH-mm-ss
  #freemarker:
    #template-loader-path: classpath:/templates
    #cache: false
    #charset: utf-8
    #check-template-location: true
    #content-type: text/html
    #expose-request-attributes: true
    #expose-session-attributes: true
    #request-context-attribute: request
    #suffix: .html
  thymeleaf:
    cache: true
    check-template: true
    enabled: true
    encoding: utf-8
    mode: HTML
    prefix: classpath:/templates/
    suffix: .html
  resources:
    static-locations: classpath:/static/
server:
  port: 8091